version: "3.9"
services:
  web:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MODEL_PACKAGE_NAME=${MODEL_PACKAGE_NAME}
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_DRIVER=com.mysql.jdbc.Driver
      - DB_DIALECT=org.hibernate.dialect.MySQLDialect
      - DB_URL=jdbc:mysql://db/elide?serverTimezone=UTC
      - OAUTH_ENABLED=false
    depends_on:
      db:
        condition: service_healthy
  db:
    image: "mysql:5.7.43"
    ports:
      - "3306:3306"
    volumes:
      - "./mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql"
    environment:
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: mysqladmin ping -h localhost -u root -proot
      timeout: 3s
      retries: 3
