-----BEGIN CERTIFICATE-----
MIIDiDCCAnCgAwIBAgIESzIrxzANBgkqhkiG9w0BAQsFADBbMScwJQYDVQQDDB5SZWdlcnkgU2Vs
Zi1TaWduZWQgQ2VydGlmaWNhdGUxIzAhBgNVBAoMGlJlZ2VyeSwgaHR0cHM6Ly9yZWdlcnkuY29t
MQswCQYDVQQGEwJVQTAgFw0yMzExMjkwMDAwMDBaGA8yMTIzMTEyOTA2NTYxNVowSjEWMBQGA1UE
AwwNbXlleGFtcGxlLmNvbTEjMCEGA1UECgwaUmVnZXJ5LCBodHRwczovL3JlZ2VyeS5jb20xCzAJ
BgNVBAYTAlVBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAw+yeYwizfryAvJOzFTZR
iVSU7sSpq33v3yyFpFDr50Ck2Mu3QpAu9rjBr/luJZBoKXqUKhfB7WWHGueOzdx7bdmMTfyInmDG
7dchFXUnxbwLdaOXpTmjRVZklqOSitmGUtbEI6EPNiIj41HY2lyB0CLJRzZhrdtbeAlZ7u1QR9wj
SJJTbsCFtEv3js1XtzIEJBZbcy2eS1xfJ4htL7xy2O2xcrR3LM8/Yrs6Ly0vBWaYnEO3UVrhBpR6
hFOFl7ToAgVReKMwA8kQRPMZPxAGeoIc9W0MtDwWhiCodVKxJOjpLRTH0rZk4Nk7CFc8qSFlvxoe
invLEzwlWX45Imt/NQIDAQABo2MwYTAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBhjAd
BgNVHQ4EFgQUiaDXb1kq14OEaGg/B6Rrdc2d1Q4wHwYDVR0jBBgwFoAUiaDXb1kq14OEaGg/B6Rr
dc2d1Q4wDQYJKoZIhvcNAQELBQADggEBAKZl4s/bv8KJM3zDA9S1rOfsbASfS1bUM39G8d3Q2BDM
D0t6firjatyg3V5KIgCz6DfyUPmAMdqj3B4UNC3onnBtV27H0+xbYnxLFgc554PT898x2mV7IkiC
WSkD9Nfj5zk8XGoQJ24BGGa+N2asUzQYu11oX9kiV85NRLTi1U7gbnQVYsCGbzvwLySf1KB5pQD+
5OWOkSuyupwFTA3706TtMG7hTl80aEcCoOUdW2/QchSp+VLSGdAZ3EDCAEA7beFeytvhcK7qD1dD
rXQ36O6j5eDrzEJRyO9dpmH8PtHuq8E9lZsQU2f74NuseYqM8YV7Pi3EoVdCl3b89AagNRE=
-----END CERTIFICATE-----
