# Copyright Paion Data
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
name: Astraios CI/CD

"on":
  pull_request:
  push:
    branches:
      - master
  repository_dispatch:
    types: [runbook-changes]

env:
  USER: QubitPi
  EMAIL: jack20220723@gmail.com
  TEST_MODEL_PACKAGE_NAME: com.qubitpi.ws.jersey.template.models

jobs:
  yml-md-style:
    uses: paion-data/github-actions-workflows/.github/workflows/yml-and-md-style-checks.yml@master

  tests:
    name: Unit & Integration Tests
    needs: yml-md-style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          runbooks-repo-token: ${{ secrets.RUNBOOKS_REPO_TOKEN }}
          data-models-repo-token: ""
          data-models-repo-org: QubitPi
          data-models-repo-name: jersey-webservice-template-jpa-data-model
      - name: Set up Docker for Integration Tests
        uses: docker-practice/actions-setup-docker@master
      - name: Run unit & integration tests
        run: mvn -B clean verify
      - name: Sonar Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B -Pcoverage sonar:sonar org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.java.binaries=target/classes -Dsonar.projectKey=paion-data_astraios

  documentation:
    name: Test & Release Documentation (including Javadoc)
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          runbooks-repo-token: ${{ secrets.RUNBOOKS_REPO_TOKEN }}
          data-models-repo-token: ""
          data-models-repo-org: QubitPi
          data-models-repo-name: jersey-webservice-template-jpa-data-model
      - name: Install dependencies
        working-directory: docs
        run: yarn
      - name: Build documentations
        working-directory: docs
        run: yarn build
      - name: Generate Javadoc
        run: mvn -B clean javadoc:javadoc
      - name: Move Javadoc into documentation directory
        if: github.ref == 'refs/heads/master'
        run: mv target/site/apidocs/ docs/build/apidocs/
      - name: Deploy documentation (including Javadoc) to GitHub Pages
        if: github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build
          enable_jekyll: false
          user_name: ${{ env.USER }}
          user_email: ${{ env.EMAIL }}

  hashicorp:
    name: Generated Webservice WAR in GitHub Action, and Publish Astraios AMI Image and Deploy it to EC2 through HashiCorp
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          runbooks-repo-token: ${{ secrets.RUNBOOKS_REPO_TOKEN }}
          data-models-repo-token: ${{ secrets.ASTRAIOS_DATA_MODELS_REPO_TOKEN }}
          data-models-repo-org: paion-data
          data-models-repo-name: astraios-config
      - name: Generate webservice WAR file
        run: mvn -B clean package
      - name: Move WAR file to a location for HashiCorp deployment to pickup
        run: |
          mkdir ../WAR
          mv target/astraios-1.0-SNAPSHOT.war ../WAR
      - name: QubitPi/hashicorp-aws
        uses: QubitPi/hashicorp-aws@master
        with:
          hashicorp-dir: ../hashicorp-aws/hashicorp/webservice
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
